
<div class="page-header">Job Profile</div>

<p id="notice"><%= notice %></p>

<table class="table">
	<tbody>
        <tr>
        	<td>Title</td>
        	<td><%= @job_profile.title %></td>
        </tr>
		<tr>
			<td>Employer Name</td>
			<td><%= @job_profile.employer_name %></td>
		</tr>
		<tr>
			<td>Employer Address</td>
			<td><%= render 'address', address: @job_profile.address %></td>
		</tr>
        <tr>
        	<td>Period</td>
        	<td><%= @job_profile.start_date %> - <%= @job_profile.end_date || 'present' %></td>
        </tr>
        <tr>
        	<td>Salary</td>
        	<td><%= @job_profile.salary %> (<%= @job_profile.salary_type %>)</td>
        </tr>
        <tr>
        	<td>Average Weekly Hours</td>
        	<td><%= @job_profile.average_weekly_hours %></td>
        </tr>
        <tr>
        	<td>Supervisor Name</td>
        	<td><%= @job_profile.supervisor_name %></td>
        </tr>
        <tr>
        	<td>Supervisor Phone</td>
        	<td><%= @job_profile.supervisor_phone %></td>
        </tr>
        <tr>
                <td>Skills</td>
                <td>
                        <% @job_profile.job_profile_skills.each do |s| %>
                                <%= s.name %> <br>
                        <% end %>
                </td>
        </tr>
        <tr>
                <td>Accomplishments</td>
                <td>
                        <% @job_profile.job_profile_accomplishments.each do |s| %>
                                <%= s.name %> <br>
                        <% end %>
                </td>
        </tr>
        <tr>
                <td>Duties</td>
                <td>
                        <% @job_profile.job_profile_duties.each do |s| %>
                                <%= s.name %> <br>
                        <% end %>
                </td>
        </tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_job_profile_path(@job_profile) %> |
<%= link_to 'Back', job_profiles_path %>

